<div class="card card-chart">
  <div class="card-header">
    <h5 class="card-category">Comments</h5>
  </div>
  <div class="card-body">
    <p>
      <%= "This Article does not have any comments " unless @article.comments.count >= 1 %>
    </p>
    <%  if @article.comments.count !=0 %>
      <% @article.comments.each do |comment| %>
        <p>
          <button class="btn btn-default"><%= comment.users.first.name %> says: </button>
          <%= comment.content %>
        </p>
        <p class="text-left">
          <%= link_to comment, class: "btn btn-info btn-icon btn-sm " do %>
            <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to edit_comment_path(comment), class: "btn btn-success btn-icon btn-sm " do %>
            <i class="now-ui-icons ui-2_settings-90"></i>
          <% end %>
          <%= link_to comment, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-icon btn-sm " do %>
            <i class="now-ui-icons ui-1_simple-remove"></i>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>